.food h2{
  text-align: center;
  margin: 10px;
  color:  rgb(255,219,88);
}

.food h3{
  text-align: center;
 color:  rgb(98, 100, 167);
}

.foodpos{
margin: 20px;
}

.category{
  display: flex;
  gap: 100px;
  margin: 20px;
  justify-content: center;
}

.category button{
background-color: rgb(255, 200, 0);
color: #fff;
padding: 10px;
border: none;
outline: none;
border-radius: 5px;
cursor: pointer;
}

.itempos{
  display: flex;
  justify-content: center;
  gap:80px;
}

