.all-cards{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    width : 380px;
    height : 150px;
    margin : 10px;
    border-radius : 5px;
    border : 1px solid #D8D8D8;
    display : flex;
    gap : 20px;
    padding : 10px;
}

.card-left img{
    height : 150px;
    width: 150px;
    border-radius : 5px;
    cursor: pointer;
}

.card-right{
    display: flex;
    flex-direction: column;
    
}

.card-right h2{
    margin-left: -0.5px ;
}

.card-right p{
  color: seagreen;
}

.card-right-bottom{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    
}

.card-right-bottom button{
    background-color: seagreen;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

